@{
    ViewBag.Title = "Index";
}
<!doctype html>
<head>
    <title>About Me</title>
</head>
<body>

<div class="about-content">

<h2>About Me</h2>

<p>
About me
</p>

<p>About me again</p>


</div>
</body>
</html>