@{
    ViewBag.Title = "About Me";
}
<!doctype html>
<head>
    <title>About Me</title>
</head>
<body>



    <div class="about-entire">

        <br />


        <h2>About Me</h2>
        <img src="https://media.licdn.com/media/p/5/005/088/112/3ae9a6a.jpg" height="15%" width="15%" />
        <p>
            My name is Forrest Brink and I am an entry-level software developer.  I was born in Scottsdale, Arizona on April 15, 1993.  Shortly after my birth, my family and I moved to Colorado.  At a young age, I found I had a passion for technology, specifically how technology works.  It wasn't until I discovered SeedPaths that I finally decided to pursue a career in technology.
        </p>

        <p>You can find all of my work in the "Work" tab, or through github.com/forrestbrink.  Feel free to fill out the Contact Form, located in the "Contact" tab, to contact me.</p>

        <a target="_blank" href="http://www.linkedin.com/pub/forrest-brink/50/62b/790">
            <img src="http://static.wixstatic.com/media/5bcf8c_c0269dfceb11469cb849642692165dd6.png" width="3%" height="3%" /></a>&nbsp &nbsp<a target="_blank" href="https://github.com/forrestbrink?tab=repositories"><img src="http://mihai-varga.github.io/theme/images/github.png" width="3%" height="3%" /></a>&nbsp &nbsp<a target="_blank" href="https://www.facebook.com/forrest.brink"><img src="http://2.bp.blogspot.com/-m9b3h56Exus/Usdd74xlzwI/AAAAAAAAAj0/kOYSKdWoETY/s1600/tumblr_static_logo_facebook_black.png" width="3%" height="3%" /></a>


    </div>
</body>
</html>