@{
    ViewBag.Title = "Index";
}
<!doctype html>
<head>
    <title>About Me</title>
</head>
<body>

<div class="about-entire">
    <div class="back">
        <p><a href="@Url.Action("Index", "Home")">Back To Homepage</a></p>
            </div>

<h2>About Me</h2>
     

<p>
My name is Forrest Brink and I am an entry-level software developer.  I was born in Scottsdale, Arizona on April 15, 1993.  Shortly after my birth, my family and I moved to Colorado.  At a young age, I found I had a passion for technology, specifically how technology works.  It wasn't until I discovered SeedPaths that I finally decided to pursue a career in technology.
</p>

<p>SeedPaths is an 8-week boot camp that specializes in professional and software development.  Through SeedPaths, I have been introduced to many different programming languages such as C#, .NET, JavaScript, jQuery, HTML and CSS.  During the 8-week course, I was fortunate enough to learn how to create new programs such as Guess That Number, Battleship, Hangman, Dragon Combat, Disemvoweler and many more.  </p>
    
<p>You can find all of my work in the "Work" tab, or through github.com/forrestbrink.  Feel free to fill out the Contact Form, located in the "Contact" tab, to contact me.</p>


</div>
</body>
</html>