@{
    ViewBag.Title = "Index";
}
<!doctype html>
<head>
    <title>About Me</title>
</head>
<body>

<div class="about-entire">

<h2>About Me</h2>

<p>
My name is Forrest Brink and I live in Littleton, Colorado.  I am currently a student at SeedPaths.
</p>

<p>And here is more about me</p>


</div>
</body>
</html>