body {
    font-size: 1.25em;
    font-family: Vijaya, Geneva, Verdana, sans-serif, cursive, Verdana, Helvetica, Sans-Serif;
    color: blacck;
    background-color: gray;
    margin: 0px;
    margin-top: 0px;
    border: 10px solid black;
}

.contacts {
    text-align: center;
}

.header2 {
    text-align: center;
}

a {
    color: black;
}

.gamenames {
    align-content: center;
    margin-right: 50px;
}

.back {
    margin-left: 75px;
}

.work {
    display: inline-block;
    text-align: center;
    margin-left: 150px;
}

.footer {
    text-align: center;
}

.header {
    text-align: center;
}

header, footer, nav, section {
    display: block;
    color: black;
    background-color: gray;
}

.dragon-entire {
    background-color: gray;
    color: black;
}

.poker-entire {
    background-color: gray;
    color: black;
}

.guess-entire {
    background-color: gray;
    color: black;
}

.hangman-entire {
    background-color: gray;
    color: black;
}

.work-entire {
    color: black;
    background-color: gray;
    margin: 0px;
}

.contactform {
    align-content: center;
    color: black;
    background-color: gray;
}

.about-entire {
    color: black;
    background-color: gray;
    text-align: center;
}

.contactheader {
    color: black;
    background-color: gray;
}

.boxes {
    display: inline;
    text-align: center;
}

.details {
    text-align: center;
}

.div1 {
    text-align: center;
    width: 100%;
}

.div2 {
    display: inline-block;
    border: 10px solid black;
    width: 30%;
    border-style: groove;
    text-align: center;
}

.div3 {
    display: inline-block;
    border: 10px solid black;
    width: 33%;
    border-style: groove;
    text-align: center;
}

.div4 {
    display: inline-block;
    border: 10px solid black;
    width: 30%;
    border-style: groove;
    text-align: center;
}

.image {
    display: inline-block;
}

.homepage {
    background-color: gray;
    color: black;
}

.homepage-entire {
    background-color: gray;
    color: black;
    text-align: center;
}

.hide {
    display: none;
}

.image-next {
    cursor: pointer;
    border: 5px solid black;
    background-color: black;
    color: white;
    width: 25px;
    font-size: 24px;
}

.image1-next {
    cursor: pointer;
    border: 5px solid black;
    background-color: black;
    color: white;
    width: 25px;
    font-size: 24px;
}

.image2-next {
    cursor: pointer;
    border: 5px solid black;
    background-color: black;
    color: white;
    width: 25px;
    font-size: 24px;
}

.image3-next {
    cursor: pointer;
    border: 5px solid black;
    background-color: black;
    color: white;
    width: 25px;
    font-size: 24px;
}

.image-prev {
    cursor: pointer;
    border: 5px solid black;
    background-color: black;
    color: white;
    width: 25px;
    font-size: 24px;
}

.image1-prev {
    cursor: pointer;
    border: 5px solid black;
    background-color: black;
    color: white;
    width: 25px;
    font-size: 24px;
}

.image2-prev {
    cursor: pointer;
    border: 5px solid black;
    background-color: black;
    color: white;
    width: 25px;
    font-size: 24px;
}

.image3-prev {
    cursor: pointer;
    border: 5px solid black;
    background-color: black;
    color: white;
    width: 25px;
    font-size: 24px;
}

.thankyou {
    text-align: center;
}

.hangmanpics {
    text-align: center;
}

.button {
    display: inline-block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.ajax-get {
    color: fuchsia;
}
