body {
    font-size: 1.25em;
    font-family: Vijaya, Geneva, Verdana, sans-serif, cursive, Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
    color:white;
    background-color:black;
}

.work-entire {
     color:white;
    background-color:black;
}
.contactform {
    border:10px solid black;
    background-color: black;
    color: white;

}
.about-entire {
    color: white;
    background-color: black;
}
.contact-entire {
    color:white;
    background-color:black;
}
.boxes {
    display:inline;
   margin-left: 15px;
    
}
.div1 {
    border:10px solid green;
    border-style:groove;
}
.div2 {
    display:inline-block;
    border:10px solid white;
    width: 30%;
    border-style:groove;
   
 
}
.div3 {
     display:inline-block;
    border:10px solid white;
    width: 33%;
    border-style:groove;
}
.div4 {
     display:inline-block;
   border:10px solid white;
   width: 30%;
   border-style:groove;
}
.image {
    display:inline-block;
    margin-top:30px;
    margin-bottom:250px;
    margin-right:400px;
    margin-left:550px;
}
.homepage {

    background-color: black;
    color: white;
}
.homepage-entire{
        background-color:black;
        color:white;
}
.hide {
    display: none;
}
.image-next{
    cursor:pointer;
    border: 5px dashed black;
    background-color:white;
    color: black;
    width: 500px;
   
    margin-left: 550px;
  align-content:center;

}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}



