@{
    ViewBag.Title = "Guess That Number";
}

<!DOCTYPE html>
<html>
<head>
    <title>Guess</title>
</head>
<body>

    <div class="guess-entire">
        <h2 align="center">Guess That Number</h2>
        <br />
        <div class="back">
            <p>
                <a href="http://students.seedpaths.com/forrest-brink/Work"><< Back </a>
            </p>
        </div>
        <div class="hangmanpics">
            <img src="http://i.imgur.com/Vb8DLLm.jpg" alt="Photo 4" width="500" height="300" margin-left="" /><img src="http://i.imgur.com/iIGWZtZ.png" alt="Photo 4" width="500" height="300" />
        </div>
        <div class="details">
            <p>
                Guess That Number is a program that I created that randomly generates a number and then asks the user to guess the number.  The program will then tell the user whether the number they guessed is too high or too low until the user guesses the correct number. 
            </p>
            <p><a href="https://github.com/forrestbrink/GuessThatNumber/raw/master/GuessThatNumber/GuessThatNumber/bin/Debug/GuessThatNumber.exe">Click here to play!</a></p>
        </div>
    </div>
</body>
</html>
