@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>Guess</title>
</head>
<body>
    
<div class="guess-entire">
<h2 align="center">Guess That Number</h2>
<br />
    <div class="back">
    <p><a href="http://students.seedpaths.com/forrest-brink/Work">Back</a></p>
        </div>
     <div class="hangmanpics">
    <img src="http://i.imgur.com/Vb8DLLm.jpg" alt="Photo 4" width="500" height="300" margin-left=/><img src="http://i.imgur.com/iIGWZtZ.png" alt="Photo 4" width="500" height="300"/>
   </div>
    <p>
       Guess That Number is a program that I created that randomly generates a number and then asks the user to guess the number.  This was one of the simpler programs that I have created, as it only required a random number generator, a boolean, and a few "if" statments.  
    </p>
    <p><a href="https://github.com/forrestbrink/GuessThatNumber/raw/master/GuessThatNumber/GuessThatNumber/bin/Debug/GuessThatNumber.exe">Click here to play!</a></p>

      </div>
</body>
     </html>
