@{
    ViewBag.Title = "Index";
}
<!doctype html>
<head>
 
<div class="homepage-entire">
    <title>Home Page</title>
</head>
<body>
<div class="homepage">

<div class="div1">
<img src="http://fc01.deviantart.net/fs70/f/2012/273/c/4/fantasy_forest_by_reapinggfx-d5ge4nv.jpg" alt="Home Page Image" width="100%" height="375" />
</div>
    <div class="boxes">
<div class="div2">
<h2 align="center"><a href="http://students.seedpaths.com/forrest-brink/About">About Me</a></h2>
<p> I am an entry-level software developer.  Find out more about who I am and how I got to the point I am at today by clicking here.</p>
</div>

<div class="div3">
<h2 align="center"><a href ="http://students.seedpaths.com/forrest-brink/Work">Work</a></h2>
<p>View examples of my work from SeedPaths and even play some of my games!  You can also see all of my work by going to <a href="https://github.com/forrestbrink">github.com/forrestbrink.</a></p>
</div>

<div class="div4">
<h2 align="center"><a href="http://students.seedpaths.com/forrest-brink/Contact">Contact</a></h2>
<p>Here you will find a simple contact form page.  Fill out the Contact Form in order to contact me with any questions.</p>
</div>

</div></div>
</body>
</html>