@{
    ViewBag.Title = "Dragon Combat";
}

<!DOCTYPE html>
<html>
<head>
    <title>Dragon</title>
</head>
<body>

    <div class="dragon-entire">
        <h2 align="center">Dragon Combat Simulator</h2>
        <br />
        <div class="back">
            <p>
                <a href="http://students.seedpaths.com/forrest-brink/Work"><< Back

                </a>
            </p>
        </div>
        <div class="hangmanpics">
            <img src="http://i.imgur.com/lMKhNZy.jpg" alt="Photo 4" width="500" height="300" margin-left="" /><img src="http://i.imgur.com/VWgcnBs.jpg" alt="Photo 4" width="500" height="300" />
        </div>
        <div class="details">
            <p>
                The Dragon Combat Simulator is a program I created that puts the user head-to-head with a simulated dragon.  In the game, the user has the choice of three attacks: Sword, Magic, or Heal.  Each turn, the user will choose an attack that deals a random amount of damage to the dragon.  After the user attacks the dragon, the dragon then attacks the user.  The attacks alternate until either the user or dragon has run out of health.  
            </p>
            <p><a href="https://github.com/forrestbrink/DragonCombatSimulator/raw/master/DragonCombatSimulator/DragonCombatSimulator/bin/Debug/DragonCombatSimulator.exe">Click here to play!</a></p>
        </div>
    </div>
</body>
