@{
    ViewBag.Title = "Poker Player";
}

<!DOCTYPE html>
<html>
<head>
    <title>Poker</title>
</head>
<body>

    <div class="guess-entire">
        <h2 align="center">Poker Player</h2>
        <br />
        <div class="back">
            <p>
                <a href="http://students.seedpaths.com/forrest-brink/Work"><< Back

                </a>
            </p>
        </div>
        <div class="hangmanpics">
            <img src="http://i.imgur.com/fN2NA9P.jpg" alt="Photo 4" width="500" height="300" margin-left="" /><img src="http://i.imgur.com/GfuH7ka.jpg" alt="Photo 4" width="500" height="300" />
        </div>
        <div class="details">
            <p>
                Poker Player is a program that I created that randomly generates a group of five cards, and tells the user what kind of hand they would have if they were playing poker.  In poker, there are many different hands that are defined by the card number, as well as the suit of the card.
            </p>
            <p><a href="https://github.com/forrestbrink/Poker-Player/raw/master/Poker-Player/Poker-Player/bin/Debug/Poker-Player.exe">Click here to play!</a></p>
        </div>
    </div>
</body>
</html>

