@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>Hangman</title>
</head>
<body>

    <div class="guess-entire">
        <h2 align="center">Hangman</h2>
        <br />
        <div class="back">
            <p>
                <a href="http://students.seedpaths.com/forrest-brink/Work"><< Back 
                </a>
            </p>
        </div>
        <div class="hangmanpics">
            <img src="http://i.imgur.com/ObH3gMo.jpg" alt="Photo 4" width="500" height="300" margin-left="" /><img src="http://i.imgur.com/VWgcnBs.jpg" alt="Photo 4" width="500" height="300" />
        </div>
        <div class="details">
            <p>
                Hangman is a simple game that usually involves one player coming up with a random word, and another player guessing letters in the word or the entire world.  For every right guess, the correct letter is placed into the word.  For every wrong guess, a body part belonging to a man will be placed until the entire man exists, in which case they have lost.  
            </p>
            <p><a href="https://github.com/forrestbrink/HangMan/raw/master/HangMan/HangMan/bin/Debug/HangMan.exe">Click here to play!</a></p>
        </div>
    </div>
</body>
</html>
