@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <title>Work</title>
</head>
<body>
<div class="work-content">
<h2 align="center">Samples</h2>
<br />
<div class="img1">
<img src="http://www.davey.com/media/1001/home-tree.png?width=960&height=520&quality=80&mode=crop" alt="Photo 1" width="500" height="180"/>
<p>Sample 1</p>
</div>

<div class="img2">
<img src="http://www.davey.com/media/1001/home-tree.png?width=960&height=520&quality=80&mode=crog" alt="Photo 2" width="500" height="180"/>
<p>Sample 2</p>
</div>

<div class="img3">
<img src="http://www.davey.com/media/1001/home-tree.png?width=960&height=520&quality=80&mode=crop" alt="Photo 3" width="500" height="180"/>
<p>Sample 3</p>
</div>

<div class="img4">
<img src="http://www.davey.com/media/1001/home-tree.png?width=960&height=520&quality=80&mode=crop" alt="Photo 4" width="500" height="180"/>
<p>Sample 4</p>
</div>

</div>
</body>

</html>