@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <title>Work</title>
</head>
<body>
    
<div class="work-entire">
<h2 align="center">Samples</h2>
<br />
      <div class="image-next" align="middle">
        Next
    </div>
<div class="image active" >
<img src="http://media.nj.com/sunbeam-voices/photo/battleship-njjpg-ae155db15f7a02ca.jpg" alt="Photo 1" width="500" height="180" align="middle"/>
<p align="middle">Battleship</p>
</div>

<div class="image hide">
<img src="http://www.history.com/news/ask-history/files/2013/04/ah-poker.jpg" alt="Photo 2" width="500" height="180" align="middle"/>
<p align="middle">Poker Player</p>
</div>

<div class="image hide">
<img src="http://m.c.lnkd.licdn.com/mpr/mpr/p/6/005/07e/203/3c33726.jpg" alt="Photo 3" width="500" height="180" align="middle"/>
<p align="middle">Guess That Number</p>
</div>

<div class="image hide">
<img src="http://www.programmr.com/sites/default/files/imagecache/scale/Hangman.gif" alt="Photo 4" width="500" height="180" align="middle"/>
<p align="middle">Hangman</p>
</div>
  

</div>
</body>

</html>