@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <title>Work</title>
</head>
<body>

    <div class="work-entire">
        <h2 align="center">Samples</h2>
        <br />

    </div>

    <div class="work">

        <div class="image active">
            <img src="http://i.imgur.com/lMKhNZy.jpg" alt="Photo 1" width="500" height="300" />
        </div>
        <div class="image hide">
            <img src="http://i.imgur.com/AzY9x8u.png" alt="Photo 8" width="500" height="300" />
        </div>
        <div class="image hide">
            <img src="http://i.imgur.com/vXE5qFm.png" alt="Photo 8" width="500" height="300" />
        </div>
        <div class="image-prev button">
            <
        </div>
        <div class="image-next button" align="middle">
            >
        </div>


        <div class="gamenames">
            <p><a href="@Url.Action("Index", "Dragon")">Dragon Combat Simulator</a></p>

        </div>
    </div>

    <div class="work">

        <div class="image active1">
            <img src="http://i.imgur.com/fN2NA9P.jpg" alt="Photo 2" width="500" height="300" />
        </div>
        <div class="image hide">
            <img src="http://i.imgur.com/GfuH7ka.jpg" alt="Photo 5" width="500" height="300" />
        </div>
        <div class="image hide">
            <img src="http://i.imgur.com/Eonbfgg.png" alt="Photo 8" width="500" height="300" />
        </div>
        <div class="image1-prev button">
            <
        </div>
        <div class="image1-next button" align="middle">
            >
        </div>


        <div class="gamenames">
            <p><a href="@Url.Action("Index", "Poker")">Poker Player</a></p>
        </div>

    </div>

    <div class="work">

        <div class="image active2">
            <img src="http://i.imgur.com/Vb8DLLm.jpg" alt="Photo 3" width="500" height="300" />
        </div>
        <div class="image hide">
            <img src="http://i.imgur.com/iIGWZtZ.png" alt="Photo 6" width="500" height="300" />
        </div>
        <div class="image hide">
            <img src="http://i.imgur.com/xxZruzz.png" alt="Photo 8" width="500" height="300" />
        </div>
        <div class="image2-prev button">
            <
        </div>
        <div class="image2-next button" align="middle">
            >
        </div>


        <div class="gamenames">
            <p><a href="@Url.Action("Index", "Guess")">Guess That Number</a></p>
        </div>

    </div>

    <div class="work">

        <div class="image active3">
            <img src="http://i.imgur.com/ObH3gMo.jpg" alt="Photo 4" width="500" height="300" />
        </div>
        <div class="image hide">
            <img src="http://i.imgur.com/VWgcnBs.jpg" alt="Photo 7" width="500" height="300" />
        </div>
        <div class="image hide">
            <img src="http://i.imgur.com/CmN2L4S.png" alt="Photo 8" width="500" height="300" />
        </div>
        <div class="image3-prev button">
            <
        </div>
        <div class="image3-next button" align="middle">
            >
        </div>


        <div class="gamenames">
            <p><a href="@Url.Action("Index", "Hangman")">Hangman</a></p>
        </div>

    </div>

</body>

</html>
