@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <title>Work</title>
</head>
<body>
<div class="work-content">
<h2 align="center">Samples</h2>
<br />
<div class="img">
<img src="http://images6.alphacoders.com/316/316963.jpg" alt="Abstract Photo 1" width="250" height="180"/>
<p>Sample 1</p>
</div>

<div class="img">
<img src="http://images6.alphacoders.com/316/316963.jpg" alt="Abstract Photo 2" width="250" height="180"/>
<p>Sample 2</p>
</div>

<div class="img">
<img src="http://images6.alphacoders.com/316/316963.jpg" alt="Abstract Photo 3" width="250" height="180"/>
<p>Sample 3</p>
</div>

<div class="img">
<img src="http://images6.alphacoders.com/316/316963.jpg" alt="Abstract Photo 4" width="250" height="180"/>
<p>Sample 4</p>
</div>

</div>
</body>

</html>